<app-page-title title="Formazione"></app-page-title>


<section class="section" aria-describedby="objective-title">
  <div class="section-content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="objective-title">Obiettivo</h2>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12">
          <p class="text-justify">Il progetto prevedere l'organizzazione di eventi di presentazione pubblica del software e di brevi corsi di formazione al personale delle PA e agli altri enti interessati, per illustrare i vantaggi in termini di leggibilità dell'uso dell'ATS.</p>
        </div>
      </div>

      <div class="row mb-0">
        <div class="col-12">
          <h3 class="h5 text-center mb-0">Pagina in costruzione</h3>
        </div>
      </div>
    </div>
  </div>
</section>
