<section class="it-hero-wrapper it-text-centered it-hero-small-size it-dark it-overlay">
  <!-- img -->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <img ngSrc="assets/background.webp" title="verbacxss-background-img" alt="verbacxss-background-img" fill priority>
      </div>
    </div>
  </div>
  <!-- texts -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          @if (this.title && this.subtitle) {
            <h1>{{ this.title }}</h1>
            <h2 class="h3">{{ this.subtitle }}</h2>
          } @else {
            <h1>{{ this.title }}</h1>
          }
        </div>
      </div>
    </div>
  </div>
</section>
