<app-page-title title="Software"></app-page-title>

<section class="section" aria-describedby="text-simplifier-intro-title">
  <div class="section-content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="text-simplifier-intro-title">Obiettivo</h2>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12">
          <p class="text-justify">Il progetto prevedere la realizzazione dell'ATS in open source, a disposizione della PA, dei CPIA, delle scuole di italiano come LS e di altri utenti, per l'utilizzo; a disposizione dei ricercatori, per ulteriore sviluppo.</p>
        </div>
      </div>

      <div class="row mb-0">
        <div class="col-12">
          <h3 class="h5 text-center mb-0">Pagina in costruzione</h3>
        </div>
      </div>
    </div>
  </div>
</section>
