<app-page-title title="Laboratorio SeVerAs"></app-page-title>

<section class="section"  aria-describedby="description-title">
  <div class="section-content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="description-title">Laboratorio SeVerAs (Sperimentazione su Verbi Analitici e Sintetici)</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="text-justify">Il Laboratorio di sperimentazione psicolinguistica SeVerAs nasce nell’ambito delle ricerche del PRIN 2020 “VerbAxCSS - su verbi analitici, complessità, verbi sintetici, e semplificazione. Per l’accessibilità”, con lo scopo di fornire evidenze sperimentali sulla processazione delle strutture verbo-nominali analitiche in confronto alle corrispettive forme sintetiche, presenti nei testi amministrativi, giuridici e mediali.</p>

          <p class="text-justify">Il laboratorio è attualmente sede di studio e di sperimentazione multidisciplinare nel campo della linguistica teorica, applicata e della psicolinguistica; è stato allestito ex novo nella primavera dell’a.a. 2023-204 per permettere la somministrazione di test psicolinguistici, con l’intento di raggiungere due obiettivi di ricerca:</p>

          <ol class="text-justify" style="list-style: lower-roman">
            <li>fornire nuovi studi sulla processazione dei verbi analitici e sintetici mediante sperimentazioni psicolinguistiche per individuare i gradi di accessibilità relativi alle due diverse tipologie verbali;</li>
            <li>integrare le attuali parametrizzazioni sulla semplificazione con le evidenze risultanti dalle sperimentazioni in corso.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-muted"  aria-describedby="location-title">
  <div class="section-content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="location-title">Sede e personale del Laboratorio</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="text-justify">Il Laboratorio ha sede nella Facoltà di Lettere e Filosofia, ed è ospitato in una sottosezione ricavata all’interno dell’aula dei dottorandi della scuola di Dottorato in Linguistica Teorica e Applicata, tenuto in convenzione dalle Università degli Studi Roma Tre e La Sapienza.</p>

          <p class="text-justify">La responsabile del Laboratorio per il Dipartimento di Filosofia Comunicazione Spettacolo è la dottoressa Francesca Pagliara.</p>

          <p class="text-justify">I referenti scientifici del Laboratorio sono la professoressa Maria De Martino, dell’Università degli Studi di Salerno e la dottoressa Francesca Pagliara, che parimenti segue gli aspetti tecnici con il supporto del dottor David Nicoletti (Università di Roma Tre).</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section"  aria-describedby="tool-title">
  <div class="section-content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="tool-title">Attrezzature</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="text-justify">All’atto della sua istituzione, il Laboratorio è stato attrezzato con quattro postazioni multimediali, per l’elaborazione e la somministrazione di test di processing linguistico, attraverso un software dedicato alla presentazione di stimoli linguistici, nella modalità della lettura e dell’ascolto.</p>
        </div>
      </div>
    </div>
  </div>
</section>
