<section class="it-hero-wrapper it-hero-small-size it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <img ngSrc="assets/background.webp" title="verbacxss-background-img" alt="verbacxss-background-img" fill priority>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="h2">VerbACxSS</h1>
          <p class="d-block font-sans-serif">su verbi analitici, complessità, verbi sintetici, e semplificazione. Per l’accessibilità.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper">
        <it-card shadow="true">
          <div class="card-text font-sans-serif">
            <p class="text-justify">
              Il progetto sistematizza la relazione dei verbi analitici con i verbi sintetici, che non ha una adeguata trattazione nella lingua italiana. Inquadra tale tema in una prospettiva di interfaccia sintattico-lessicale e lo integra nell’ambito dei criteri della semplificazione e dell’accessibilità linguistica.
            </p>
            <p class="text-justify">
              Tale integrazione appare particolarmente significativa considerando che, nella discussione sulle nozioni di semplificazione o accessibilità linguistica, non si è tenuto conto dei diversi tipi verbali in termini di struttura interna e di analiticità. Laddove i criteri ‘lessicali’ sono stati valutati, l’attenzione è stata prestata alle sinonimie, anche in relazione all’appartenenza del lessico ai vari strati del vocabolario, ma non alle ricadute della struttura dei verbi sulla comprensione. Fa eccezione l’attenzione prestata alla complessità strutturale delle nominalizzazioni.
            </p>
            <p class="text-justify">
              Valutata la processabilità e la diversa semplicità/complessità psicolinguistica dei verbi di tipo analitico e sintetico, il progetto prevede di sviluppare un ATS (Automatic Text Simplification) che terrà conto degli indici di leggibilità e delle regole di semplificazione già noti in letteratura, integrati dagli indici di complessità della struttura verbale.
            </p>

            <a class="read-more" routerLink="/project">
              <span class="text">Leggi di più</span>
              <it-icon name="arrow-right"></it-icon>
            </a>
          </div>
        </it-card>
      </div>
    </div>
  </div>
</div>

<section class="section section-muted" aria-describedby="research-unit-title">
  <div class="section-content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="research-unit-title">Unità di ricerca</h2>
        </div>
      </div>

      <div class="row justify-content-between gy-3">
        <div class="col-12 col-md-4">
          <div class="card-wrapper">
            <it-card hasImage="true" shadow="true" routerLink="/project" fragment="unit-uniroma3">
              <ng-container beforeBody>
                <div class="img-responsive-wrapper">
                  <div class="img-responsive">
                    <figure class="img-wrapper">
                      <img ngSrc="assets/logo-uniroma3.png" title="logo-uniroma3" alt="logo-uniroma3" height="350"
                           width="350">
                    </figure>
                  </div>
                </div>
              </ng-container>
              <h3 class="card-title h5 text-center mb-0">Università degli Studi</h3>
              <h3 class="card-title text-center h4">ROMA TRE</h3>
            </it-card>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-wrapper">
            <it-card hasImage="true" shadow="true" routerLink="/project" fragment="unit-unimol">
              <ng-container beforeBody>
                <div class="img-responsive-wrapper">
                  <div class="img-responsive">
                    <figure class="img-wrapper">
                      <img ngSrc="assets/logo-unimol.png" title="logo-unimol" alt="logo-unimol" height="350" width="350">
                    </figure>
                  </div>
                </div>
              </ng-container>
              <h3 class="card-title h5 text-center mb-0">Università degli Studi</h3>
              <h3 class="card-title text-center h4">del MOLISE</h3>
            </it-card>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-wrapper">
            <it-card hasImage="true" shadow="true" routerLink="/project" fragment="unit-unisa">
              <ng-container beforeBody>
                <div class="img-responsive-wrapper">
                  <div class="img-responsive">
                    <figure class="img-wrapper">
                      <img ngSrc="assets/logo-unisa.png" title="logo-unisa" alt="logo-unisa" height="350" width="350">
                    </figure>
                  </div>
                </div>
              </ng-container>
              <h3 class="card-title h5 text-center mb-0">Università degli Studi</h3>
              <h3 class="card-title text-center h4">di SALERNO</h3>
            </it-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" aria-describedby="output">
  <div class="section-content">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="output">Prodotti</h2>
        </div>
      </div>

      <div class="row gy-3">
        <div class="col-12 col-md-4">
          <div class="d-flex flex-column align-items-center">
            <it-icon name="copy" size="xl" svgClass="align-middle"></it-icon>
            <h3 class="h5 text-center mt-4">Corpus ItaIST</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="d-flex flex-column align-items-center">
            <it-icon name="software" size="xl" svgClass="align-middle"></it-icon>
            <h3 class="h5 text-center mt-4">ATS</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="d-flex flex-column align-items-center">
            <it-icon name="note" size="xl" svgClass="align-middle"></it-icon>
            <h3 class="h5 text-center mt-4">Pubblicazioni</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
